#forums {
    text-align:left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#forums .logo {
    text-align:right;
    padding-right: 1em;
    margin-bottom: -30px;
}

#forums fieldset {
    margin-top: 0.3em;
    border: none;
}

#forums fieldset legend {
    padding: 1em 0.6em 0px 1.7em;
    font-size:small;
}

#forums button.category,
#forums button.forum {
    display: block;
    width:100%;
    text-align:left;
}

#forums .subforums {
    margin-left:50px;
}

#forums button {
    padding: 0.5em 1em;
    border: solid 1px #ddd;
    border-bottom: solid 1px #ccc;
}

#forums .forums:nth-child(2) {
    margin-top: 0px;
}

#forums .forums {
    margin-top: 0.2em;
}

#forums button.forum:first-child {
    margin-top: 0px;
} 

#forums button.forum {
    margin-top:0.5em;
    margin-bottom: 0.4em;
}

#forums button.subforum {
    font-size:small;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
}

#forums button .subtitle {
    display:block;
    clear:both;
    font-size:small;
}

@media (min-width: 700px) {
    #forums button.forum {
        padding-left: 30px;
    }

    #forums .subforums {
        margin-left:60px;
    }

    #forums fieldset legend {
        padding-left: 2.5em;
        font-size:small;
    }

}




