#forums {
    text-align:left;
}

#forums .goto-user {
    border: solid 1px #333333;
    padding: 0.3em;
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
    color: black;
    margin-left: 30px;
}

#forums .logo {
    text-align:right;
    margin-bottom: -30px;
}

#forums fieldset.section {
    display: block;
    padding: 0px;
    margin: 0.3em 0px 0px 0px;
    border: none;
}

#forums fieldset legend {
    padding: 1em 0em 5px 40px;
    font-size:small;
}

#forums button.forum {
    width: 95%;
    padding: 0.5em 0px 0.5em 0%;
    margin:0.5em 0px 0.4em 1em;
    text-align:left;
    display:block;
    border: solid 1px #ddd;
    border-bottom: solid 1px #ccc;
}

    #forums button.forum .forum_title {
        padding-left:20px;
        display:block;
    }

    #forums button .subtitle {
        margin-left:20px;
        font-size:small;
        width:95%;
    }

    #forums .subforums {
        margin-left:40px;
    }

#forums .forums:nth-child(2) {
    margin-top: 0px;
}

#forums .forums {
    margin-top: 0.2em;
}

#forums button.forum:first-child {
    margin-top: 0px;
} 

#forums button.subforum {
    font-size:small;
    padding: 0.5em 1em;
    margin: 0px 0.2em 0.5em 0px;
    border: solid 1px #ddd;
    border-bottom: solid 1px #ccc;
}

#forums .twocolumns .columnone .logo {
    display: block;
    padding-right: 0.7em;
}

#forums .twocolumns .columntwo .logo {
    display: none;
}

@media (min-width: 700px) {

    #forums .subforums {
        margin-left:70px;
        margin-right:50px;
    }

    #forums button.forum {
        margin-left:25px;
        padding-left:20px;
        width:90%;
    }

    #forums button.forum .forum_title {
        padding-left:0px;
    }

    #forums button.forum .subtitle {
        width:98%;
        height: 1.1em;
        overflow: hidden;
        margin-left:0%;
        text-overflow:ellipsis;
    }

    #forums fieldset legend {
        padding-left: 50px;
        font-size:small;
    }

    #forums .twocolumns .columnone {
        padding-top:16px;
    }

    #forums .twocolumns .columntwo .logo {
        display: block;
        padding-right: 27px;
    }

    #forums .twocolumns .columnone .logo {
        display: none;
    }

}
