#forum {
    background: #eee;
}

#forum .layout > span.posticon, 
#forum button {
	font-size:inherit;
    width:100%;
    margin: 0px;
    padding: 0.5em;
    text-align:left;
    border-top: none;
    border-left: none;
    border-right: solid 1px #aaaaaa;
    border-bottom: solid 1px #aaaaaa;
}

#forum span.posticon {
	border: none;
    border-bottom: solid 1px #aaaaaa;
    background: #dddddd;
}

#forum button {
	border-top: none;
    border-left: none;
    border-right: solid 1px #aaaaaa;
    border-bottom: solid 1px #aaaaaa;
    background: #eeeeee;
}

#forum .post-thread {
	text-align: center;
	font-weight:bold;
	clear:both;
	display:block;
	margin: 0px auto;
}

#forum button.type_announcement {
    background: yellow;
    font-weight:bold;
}

#forum button .user {
    color: #666;
    font-size: smaller;
}


body.flexbox #forum .layout {
	clear:both;
	display: -webkit-box;
	display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-box-orient: vertical;
    display: flex;
    flex-direction: row;
}

body.noflexbox #forum .layout {
	clear:both;
}

#forum .layout > span.posticon,
#forum .layout > button.lastpost,
#forum .layout > button.newpost {
 	padding: 0.5em 0px;
    text-align:center;
	vertical-align:top;
}

body.flexbox #forum .layout > span.posticon {
	-webkit-box-flex: 0 0 70px;
	-webkit-flex: 0 0 70px;
	flex: 0 0 70px;
}

body.flexbox #forum .layout > button.lastpost {
	-webkit-box-flex: 0 0 3em;
	-webkit-flex: 0 0 3em;
	flex: 0 0 3em;
}

body.flexbox #forum .layout > button.newpost {
	-webkit-flex: 0 0 5em;
	-webkit-box-flex: 0 0 5em;
	flex: 0 0 5em;
}

body.noflexbox #forum .layout > span.posticon {
	float:left;
	width:60px;
	border-right: none;
}

body.noflexbox #forum .layout > button.firstpost {
	width:auto;
}

body.noflexbox #forum .layout > button.lastpost {
	float:right;
	width:60px;
}

body.noflexbox #forum .layout:after {
	content: " ";
	clear:left;
	border-bottom: solid 1px #333333;
	height:0px;
	width:100%;
	display:block;
}

body.noflexbox #forum .layout > button.newpost {
	width:60px;
}


#forum .pages {
	margin: 0px;
	padding: 0px;
	height:3em;
	width:100%;
	overflow:hidden;
	list-style: none;
	background: #eeeeee;
	border-bottom: solid 1px #999999;
}

	#forum .pages li {
		float:left;
		height: 3em;
		border: solid 1px #ccc;
		margin: 0px;
		text-align:center;
	}

	#forum .pages select {
		font-size:inherit;
		height: 3em;
		text-align:center;
		margin:0px;
		border: none;
		color: inherit;
		font-family: inherit;
	}

	#forum .pages select option {
		text-align:center;
		font-size:inherit;
		color: inherit;
		font-family: inherit;
	}

	#forum .pages li.same_page {
		background: #ddd;
	}

	#forum .pages li a {
		display: inline-block;
		height: 2em;
		text-align:center;
		text-decoration:none;
		padding: 1em 1.5em 0px 1.5em;
		color: #333;
	}

	#forum .pages li.goto-next-page,
	#forum .pages li.goto-last-page {
		float:right;
	}

	#forum .pages li.goto-previous-page,
	#forum .pages li.goto-first-page {
		float:left;
	}

#forum .subforums {
	color: #aaa;
	font-weight: bold;
	background: #333;
	padding-bottom: 0.2em;
	padding-left: 1em;
}

#forum .subforums ul,
#forum .subforums li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#forum .subforums a {
	color: #eee;
	text-decoration:none;
	display: inline-block;
	padding: 0.5em;
	font-weight: bold;
}

#forum .subforums a .subtitle {
	color: #aaa;
	clear:left;
	font-weight: normal;
	font-size:smaller;
}

@media (min-width: 700px) {

	#forum .pages.top-pages {
		position:fixed;
		top:0px;
		width:100%;
	}

	#forum .forum {
		padding-top:3em;
	}

	#forum .subforums {
		padding-top: 3em;
	}

	#forum .subforums + .forum {
		padding-top: 0px;
	}

}
