body > header {
    position:fixed;
    top: 0px;
    left:0px;
    width:100%;
    height:100%;
    background: #000;
    z-index:2;
    opacity: 1;
}

body > header.fade {
    opacity: 0;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

body > header table.tile1 {
    position:absolute;
    left:0px;
    top:0px;
    margin-left:0px;
    border-spacing: 0px;
    border-collapse: separate;
    border: solid 1px #695b46;
    background: #d2b68c;
    -webkit-transform: skewX(30deg);
       -moz-transform: skewX(30deg);
        -ms-transform: skewX(30deg);
         -o-transform: skewX(30deg);
            transform: skewX(30deg);
    -webkit-transform-origin: top left;
       -moz-transform-origin: top left;
        -ms-transform-origin: top left;
         -o-transform-origin: top left;
            transform-origin: top left;
}

    body > header table.tile1 td {
        width:15px;
        height:15px;
        border: solid 1px #666666;
        margin:0px;
        padding: 0px;
    }


body > header table.tile2 {
    position:absolute;
    left:0px;
    top:0px;
    border-spacing: 0px;
    border-collapse: separate;
    border: solid 1px #2d271e;
    background: #87755a;
    margin-top:-150px;
    -webkit-transform: skewY(60deg);
       -moz-transform: skewY(60deg);
        -ms-transform: skewY(60deg);
         -o-transform: skewY(60deg);
            transform: skewY(60deg);
    -webkit-transform-origin: top left;
       -moz-transform-origin: top left;
        -ms-transform-origin: top left;
         -o-transform-origin: top left;
            transform-origin: top left;
}

    body > header table.tile2 td {
        width:8px;
        height:370px;
        border: solid 1px #666666;
        margin:0px;
        padding: 0px;
    }

body > header table.tile3 {
    position:absolute;
    left:100px;
    top:320px;
    border-spacing: 0px;
    border-collapse: separate;
    border: solid 1px #695b46;
    background: #2d2d2d;
    margin-top:-150px;
}

    body > header table.tile3 td {
        width:15px;
        height:150px;
        border: solid 1px #666666;
        margin:0px;
        padding: 0px;
    }

body > header table.tile4 {
    position:absolute;
    left:70px;
    top:270px;
    margin-left:0px;
    border-spacing: 0px;
    border-collapse: separate;
    border: solid 1px #695b46;
    background: #d2b68c;
    -webkit-transform: skewX(30deg);
       -moz-transform: skewX(30deg);
        -ms-transform: skewX(30deg);
         -o-transform: skewX(30deg);
            transform: skewX(30deg);
    -webkit-transform-origin: top left;
       -moz-transform-origin: top left;
        -ms-transform-origin: top left;
         -o-transform-origin: top left;
            transform-origin: top left;
}

    body > header table.tile4 td {
        width:16px;
        height:15px;
        border: solid 1px #666666;
        margin:0px;
        padding: 0px;
    }

body > header table.tile5 {
    position:absolute;
    left:110px;
    top:488px;
    border-spacing: 0px;
    border-collapse: separate;
    border: solid 1px #695b46;
    background: #2d2d2d;
    margin-top:-150px;
}

    body > header table.tile5 td {
        width:16px;
        height:75px;
        border: solid 1px #666666;
        margin:0px;
        padding: 0px;
    }

body > header .fade-out {
    opacity: 0;
    -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
         -o-transition: all 1s ease-in;
            transition: all 1s ease-in;
}

body > header #marble {
    position:absolute;
    left:60px;
    top:-20px;
    width:20px;
    height: 20px;
    border-radius: 100%;
    background: red;
    z-index:300;
    background: red;
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #8f0222 10%, #6d0019 82%, #6d0019 82%);
    background: -webkit-gradient(radial, 35% 35%, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(10%,#8f0222), color-stop(82%,#6d0019), color-stop(82%,#6d0019));
    background: -webkit-radial-gradient( 35% 35%, ellipse cover, #ffffff 0%,#8f0222 10%,#6d0019 82%,#6d0019 82%);
    background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#8f0222 10%,#6d0019 82%,#6d0019 82%);
    background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#8f0222 10%,#6d0019 82%,#6d0019 82%);
    background: radial-gradient(ellipse at 35% 35%, #ffffff 0%,#8f0222 10%,#6d0019 82%,#6d0019 82%);
}

body > header #marble_shadow {
    position: absolute;
    left:60px;
    top:30px; 
    display: block;
    content: " ";
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    -webkit-transform: skewX(30deg);
       -moz-transform: skewX(30deg);
        -ms-transform: skewX(30deg);
         -o-transform: skewX(30deg);
            transform: skewX(30deg);
}

body > header #marble.step1 {
    left: 60px;
    top: 20px;
    -webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
         -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
}

body > header #marble.step2 {
    left: 160px;
    top: 170px;
    -webkit-transition: all 1.5s linear;
       -moz-transition: all 1.5s linear;
        -ms-transition: all 1.5s linear;
         -o-transition: all 1.5s linear;
            transition: all 1.5s linear;
}


body > header #marble_shadow.step2 {
    left: 160px;
    top: 180px;
    -webkit-transition: all 1.5s linear;
       -moz-transition: all 1.5s linear;
        -ms-transition: all 1.5s linear;
         -o-transition: all 1.5s linear;
            transition: all 1.5s linear;
}

body > header #marble.step3 {
    left: 180px;
    top: 270px;
    -webkit-transition: all 0.5s ease-in;
       -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
         -o-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
}


body > header #marble_shadow.step3 {
    left: 180px;
    top: 280px;
    -webkit-transition: all 0s;
       -moz-transition: all 0s;
        -ms-transition: all 0s;
         -o-transition: all 0s;
            transition: all 0s;
}


body > header #marble.step5 {
    left: 51%;
    top: 130px;
    width:50px;
    height: 50px;
    -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
         -o-transition: all 1s ease-in;
            transition: all 1s ease-in;
}

@media (min-width: 700px) {
    body > header #marble.step5 {
        top: 230px;
        width:90px;
        height:90px;
    }
}



body > header #marble_shadow.step5 {
    display: none;
}

body > header .yarble-logo {
    opacity: 0;
    margin: 20px auto;
    width: 320px;
    height:154px;
    background: url("logo.png") no-repeat;
} 

@media (min-width: 700px) {
    body > header .yarble-logo {
        width:640px;
        height:308px;
        background: url("logo-big.png") no-repeat;
    }
}

body > header .yarble-logo.on {
    opacity: 1;
    -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
         -o-transition: all 1s ease-in;
            transition: all 1s ease-in;
}