#login {
	background: #eee;
}

#login input,
#login button
{
	display: block;
	width: 90%;
	text-align:center;
	margin:1% auto;
	padding: 0.5em 0px;
	border: solid 1px #ddd;
}

#login button {
	font-weight: bold;
	border-radius: 0.5em;
	background: #bbb;
}
