body > div {
	width:      100%;
	padding:    0px;
	margin:     0px;
	min-height: 100%;
	position:   absolute;
	display:    none;
	-webkit-transition: all 800ms ease-in; 
	   -moz-transition: all 800ms ease-in; 
	     -o-transition: all 800ms ease-in; 
	        transition: all 800ms ease-in;
	-webkit-transform-style: preserve-3d;
}

body > div.current {
	display: block;
}

body > div.before {
	display: block;
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0)
					   rotateY(-90deg);
}

body > div.after {
	display: block;
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0) 
					   rotateY(90deg);

}