body > div {
	width:      100%;
	padding:    0px;
	margin:     0px;
	min-height: 100%;
	position:   absolute;
	display:    none;
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
       -moz-backface-visibility:hidden;
        -ms-backface-visibility:hidden;
         -o-backface-visibility:hidden;
            backface-visibility:hidden;
}

body > div.current {
	display: block;
}

body > div.before {
	display: block;
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	   -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	    -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	     -o-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
            transform: translate3d(-100%, 0, 0) rotateY(-90deg);
}

body > div.after {
	display: block;
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0) rotateY(90deg);
	   -moz-transform: translate3d(100%, 0, 0) rotateY(90deg);
	    -ms-transform: translate3d(100%, 0, 0) rotateY(90deg);
	     -o-transform: translate3d(100%, 0, 0) rotateY(90deg);
	        transform: translate3d(100%, 0, 0) rotateY(90deg);

}