#posts .post {
	padding: 1em;
	overflow:hidden;
	border-bottom: solid 1px #ddd;
}

#posts .post .user {
	display: block;
	text-align:left;
	font-size:small;
}

#posts .post .user-title {
	font-size: xx-small;
}

#posts h1 {
	border-bottom: solid 1px #ccc;
}

#posts h4 {
	padding: 0px;
	margin: 0px 0px 0.5em 0px;
}

#posts h4,
#posts h4 a.quote_link {
	text-align:left;
	color: #000;
	font-size:small;
	text-decoration:none;
}

#posts .editedby {
	margin-top:1em;
	text-align:left;
	font-size:x-small;
}

#posts .bbc-block {
	margin-left: 2em;
	padding: 1em;
	background: #eeeeee;
	margin-top: 1em;
	margin-bottom: 1em;
}

#posts .bbc-block blockquote {
	margin: 0px;
	padding: 0px;
}

#posts .bbc-spoiler {
	border: solid 1px red;
	color: transparent;
	display: inline-block;
	background: url("images/spoiler.png");
	min-width: 230px;
	min-height: 50px;
}
	#posts .bbc-spoiler * {
		display: none;
	}

	#posts .bbc-spoiler.on {
		background: none;
		color: black;
	}

	#posts .bbc-spoiler.on * {
		display: inline-block;
	}

	#posts .bbc-spoiler img,
	#posts .bbc-spoiler button {
		border: solid 1px red;
	}

#posts .video-player {
	display: inline-block;
	text-align:center;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #000;
}

#posts .video-player img {
	width: 100%;
	max-width:480px;
}

#posts img.timg {
	width: 120px;
}

#posts img.img {
	width: 100%;
}


a img {
	border: solid 1px blue;
}

a.video-player img {
	border: none;
}

#posts h2 {
	padding: 0.3em 5px 0.4em 5px;
	margin: 0px;
	border-bottom: solid 1px #999999;
}

#posts .pages {
	margin: 0px;
	padding: 0px;
	height:3em;
	width:100%;
	overflow:hidden;
	list-style: none;
	background: #eeeeee;
	border-bottom: solid 1px #999999;
}

	#posts .pages li {
		float:left;
		height: 3em;
		border: solid 1px #ccc;
		margin: 0px;
		text-align:center;
	}

	#posts .pages select {
		font-size:inherit;
		height: 3em;
		text-align:center;
		margin:0px;
		border: none;
		color: inherit;
		font-family: inherit;
	}

	#posts .pages select option {
		text-align:center;
		font-size:inherit;
		color: inherit;
		font-family: inherit;
	}

	#posts .pages li.same_page {
		background: #ddd;
	}

	#posts .pages li a {
		display: inline-block;
		height: 2em;
		text-align:center;
		text-decoration:none;
		padding: 1em 0.5em 0px 0.5em;
		color: #333;
	}

	#posts .pages li.goto-next-page,
	#posts .pages li.goto-last-page {
		float:right;
	}

	#posts .pages li.goto-previous-page,
	#posts .pages li.goto-first-page {
		float:left;
	}


@media (min-width: 700px) {

	#posts .pages.top-pages {
		position:fixed;
		top:0px;
		width:100%;
	}

	#posts .posts {
		padding-top:3em;
	}

	#posts .post {
		clear:both;
		display: -webkit-flex;
	    -webkit-flex-direction: row-reverse;
	    display: flex;
	    flex-direction: row-reverse;
	}

	#posts .post > .head {
		flex: 0 0 80px;
		-webkit-flex: 0 0 90px;
		overflow:hidden;
	}

	#posts .post > .body {
		flex: 1;
		-webkit-flex: 1;
		padding-left:10px;
	}

	#posts .post > .head .by-user {
		display: none;
	}

	#posts .post > .head .user {
		margin-bottom: 10px;
	}

	#posts .post > .head .user,
	#posts .post > .head .bbc-center {
		text-align:center;
	}
}
