@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(raleway-thin.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(railway.woff) format('woff');
}

html, body {
	padding: 0px;
	margin: 0px;
	min-height: 100%;
	height: 100%;
	font-family: 'Raleway Thin', Raleway, sans-serif;
}

body {
	background: #fff;
	color: #333;
}

body > div {
	background: #fff;
}

body.loading {
	background: url("loader.gif") no-repeat scroll center center;
}

h1,h2,h3,h4,h5,h6 {
	text-align:center;
	font-weight:normal;
}

body, input, button {
	font-size:large;
}

html.notouch .touch {
	display: none;
}

html.touch .notouch {
	display: none;
}

@media (min-width: 700px) {
	.twocolumns .columnone {
		position: absolute;
		top:0px;
		left:0px;
		width:50%;
		min-height:100%;
	}

	.twocolumns .columntwo {
		position: absolute;
		top:0px;
		left:50%;
		width:50%;
		min-height:100%;
	}
}