@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(lib/raleway-thin.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(lib/railway.woff) format('woff');
}

html,
 body {
	padding: 0px;
	margin: 0px;
	min-height: 100%;
}

::selection { background: transparent; }
::-moz-selection { background: transparent; }

body {
	background: #fff;
	color: #333;
}

h1,h2,h3,h4,h5,h6 {
	text-align:center;
	font-weight:normal;
}

body, input, button {
	font-family: Raleway, 'Raleway Thin', sans-serif;
	font-weight: 400;
}

input, button, textarea {
	 -webkit-user-select: text; 
    -khtml-user-select: text; 
    -moz-user-select: text; 
    -o-user-select: text; 
    user-select: text; 
}

html.notouch .touch {
	display: none;
}

html.touch .notouch {
	display: none;
}

#loading {
	position: fixed;
	display: none;
	left:50%;
	top:50%;
	margin-top:-150px;
	margin-left:-150px;
	background-image: url("images/loading.gif");
	background-image: url("images/loading.gif"), -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 60%); /* FF3.6+ */
	background-image: url("images/loading.gif"), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(60%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background-image: url("images/loading.gif"), -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 60%); /* Chrome10+,Safari5.1+ */
	background-image: url("images/loading.gif"), -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 60%); /* Opera 12+ */
	background-image: url("images/loading.gif"), -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 60%); /* IE10+ */
	background-image: url("images/loading.gif"), radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 60%); /* W3C */
	background-position: center center;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
	z-index:5;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#loading.visible {
	opacity: 1;
}

.dialog {
	z-index:5;
	display:none;
	position: fixed;
	left:2%;
	top:2%;
	box-shadow: 0px 0px 20px #000;
	width: 96%;
	height: 96%;
	background: #eeeeee;
	border-radius: 2px;
}

	.dialog .close {
		float:right;
		font-size:x-large;
		padding:0.2em 1em;
		border-radius:2px;
		border-width: 0px;
		margin:0px;
	}

	.dialog .clear {
		float:right;
		font-size:x-large;
		padding:0px 5px;
		margin:0px;
		margin-right:1em;
		border-radius:2px;
		border-width: 0px;
	}

	.dialog .subject {
		border: none;
		border-bottom: solid 1px #bbbbbb;
		padding: 0.5em 0px;
		font-size:x-large;
		width:100%;
		text-indent:1em;
	}

	.dialog .post_icon {
		border: none;
		font-size:x-large;
	}

	.dialog .post_icon.has_icon {
		padding-left:70px;
		background-repeat:no-repeat;
		background-position: 3px 5px;
	}

	.dialog #post_icons {
		line-height: 13px;
		height: 70%;
		overflow:auto;
		-webkit-overflow-scrolling: touch;
	}

	.dialog #post_icons img {
		border: solid 3px #ccc	;
		margin: 5px 5px;
	}

	.dialog textarea {
		font-family: sans-serif;
		width:100%;
		padding:5px;
		border: none;
		resize: none;
		margin:0px;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}

	.dialog .submit {
		margin:0px;
		width:100%;
		text-align:center;
		border-radius:2px;
		border-width: 0px;
		font-size:x-large;
		font-weight:bold;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
	}

	.dialog .scrollable {
		height:70%;
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
		box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2);
	}

	.dialog select {
		-webkit-appearance: none;
	}

#poll ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

	#poll ul li {
		margin: 0.8em 1em;
	}

	#poll ul li label {
		display:block;
		border-radius: 1px;
		background: #dddddd;
		padding:1em;
	}

section {
	background: white;
	color: black;
}

@media (min-width: 700px) {

	.twocolumns .columnone {
		float:left;
		width:50%;	
		min-height:100%;
	}

	.twocolumns .columntwo {
		float:left;
		width:50%;
		min-height:100%;
	}

	.twocolumns:before,
	.twocolumns .columnone:before,
	.twocolumns .columntwo:before {
		content: " ";
    	display: table;
    }

	.twocolumns:after,
	.twocolumns .columnone:after,
	.twocolumns .columntwo:after {
		clear:both;
		display: block;
		content: " ";
	}
}