#threads {
    background: #eee;
}

#threads button {
    display: block;
    width:100%;
    margin: 0.3em 0px;
    padding: 0.5em 0px;
}

#threads button.type_announcement {
    background: yellow;
    font-weight:bold;
}

#threads button .user {
    color: #666;
    font-size: smaller;
}

#threads .forum_219,
#threads .forum_219 button {
    background: black;
    color: #9f9;
    border-color: #696;
}

#threads .forum_219 button .user {
    color: #393;
}


#threads .forum_26,
#threads .forum_26 button {
    background: #fcf;
    color: #303;
    border-color: #969;
}

#threads .forum_26 button .user {
    color: #606;
}


#threads .forum_268 {
    padding-top:100px;
    background-image: url("cat.gif");
    background-repeat: no-repeat;
}

#threads .forum_268,
#threads .forum_268 button {
    background-color: #ccf;
    color: #003;
    border-color: #77c;
}

#threads .forum_268 button .user {
    color: #606;
}

