#threads {
    background: #eee;
}

#threads button {
    display: block;
    width:100%;
    margin: 0.3em 0px;
    padding: 0.5em 0px;
}

#threads button.type_announcement {
    background: yellow;
    font-weight:bold;
}

#threads button .user {
    color: #666;
    font-size: smaller;
}
