#user {
	background: #eee;
}

#user input,
#user button
{
	display: block;
	width: 90%;
	text-align:center;
	margin:1% auto;
	padding: 1em 0px;
	border: solid 1px #ddd;
}

#user button {
	font-weight: bold;
	border-radius: 0.5em;
	background: #bbb;
}
